* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: #ddd;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
}

.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
}

.grid--1x3 {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.btn {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 30px;
    background: 0;
    padding: .5em 1.5em;
    font-size: 1.1rem;
    transition: 250ms;

    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.flow-content--s>*+* {
    margin-top: .5rem !important;
}

.flow-content--m>*+* {
    margin-top: 1rem !important;
}

.flow-content--xm>*+* {
    margin-top: 1.5rem !important;
}

.flow-content--l>*+* {
    margin-top: 3rem !important;
}

.flow-content--xl>*+* {
    margin-top: 3.5rem !important;
}

.contents-wrapper {
    background: #fff;
    border-radius: 15px;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
    text-align: center;
    position: relative;
}


.new-quote {
    background: rgb(68, 68, 241);
    color: #fff;
    transition: opacity 250ms;

    &:hover {
        opacity: .9;
    }
}

.tweet {
    transform: opacity 250ms;

    &:hover {
        opacity: .9;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

hr {
    color: blue;
    max-width: 50px;
    margin: 0 auto !important;
}

.author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.author::before {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: blue;
}

.quote {
    max-width: 450px;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 34.375em) {
    html {
        font-size: .8rem;
    }

    .author {
        justify-content: center;
    }
}